{% extends 'base.html' %}
{% block content %}

<div class="card shadow">
  <div class="card-header">
    <h5><i class="bi bi-truck"></i> Manifest Registry</h5>
  </div>

  <div class="card-body">

    <div class="d-flex justify-content-between mb-3">
      <h6 class="mt-2">All Manifests</h6>
      <a href="{{ url_for('manifest.manifest_create') }}" class="btn btn-success">
        + New Manifest
      </a>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Manifest #</th>
          <th>Date</th>
          <th>Carrier</th>
          <th>Ship From</th>
          <th>Ship To</th>
          <th>Weight</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        {% for m in manifests %}
        <tr>
          <td><b>{{ m['num'] }}</b></td>
          <td>{{ m['date'] }}</td>
          <td>{{ m['carrier'] or '-' }}</td>
          <td>{{ m['ship_from'] }}</td>
          <td>{{ m['ship_to'] }}</td>
          <td>{{ m['weight'] }} g</td>

          <td>
            <a class="btn btn-sm btn-outline-primary"
               href="{{ url_for('manifest_preview', id=m['id']) }}">
              Preview
            </a>

            {% if m['pdf'] %}
            <a class="btn btn-sm btn-outline-success"
               href="{{ m['pdf'] }}">
              PDF
            </a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>

    </table>

  </div>
</div>

{% endblock %}
